.users__list {
  padding: 38px 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 80px;
  position: relative;
  z-index: 10;
}

.user_card {
  width: 380px;
  height: 460px;
  background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  position: relative;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_card__logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.user_card__picture {
  width: 308px;
}

.user_card__divider {
  position: relative;
  width: 100%;
  height: 8px;
  margin-top: 18px;
  background: #EBD8FF;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #AE7BE3, inset 0px 3.43693px 2.5777px #FBF8FF;
}

.user_card__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EBD8FF;
  box-shadow:  inset 0px -2.19582px 4.39163px #AE7BE3, inset 0px 4.39163px 3.29372px #FBF8FF;
}

.user_card__avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px -4.39163px 4.39163px rgba(0, 0, 0, 0.06);
}

.user_card__info {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;  
  color: #EBD8FF;
}

.user_card__tweets {
  margin-top: 62px;
  margin-bottom: 0;
}

.user_card__followers {
  margin-top: 16px;
  margin-bottom: 0;
}

.user_card__btn,
.user_card__btn__followed,
.load_more_btn,
.back_home_btn {
  width: 196px;
  height: 50px;
  background: #EBD8FF;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;  
  color: #373737;
  border: none;
  margin-top: 26px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.user_card__btn__followed {
  background: #5CD3A8;
}
.load_more_btn {
  background: #471CA9;
  color: #EBD8FF;
  margin: 50px auto;
  display: block;
  position: relative;
  z-index: 10;
}
.back_home_btn {
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 11;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_card__btn:hover,
.user_card__btn:focus {
  background: #c6c2cb;
}
.user_card__btn__followed:hover,
.user_card__btn__followed:focus {
  background: #97959b;
}
.load_more_btn:hover,
.load_more_btn:focus {
  background: #301471;
}
.back_home_btn:hover,
.back_home_btn:focus {
  background: #AE7BE3;
}